<?php
/*
 * Config File
 *
 */

 /*------------- database --------------------*/
define("db_passwd", "");
define("db_user", "");
define("db_name", "");
define("db_host", "");
define("DEBUG", FALSE);
define("LOG", true);

?>
